.correo{
    text-decoration: none;
}

.contact{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.contact-title{
    text-align: center;
    font-size: 3em;
}

/* .div-contact{
    
} */

.div-contact > *{
    padding: 1em;
}

/* .contact-form{
    background-color: rgba(26, 26, 26, 0.3);
    border-radius: 5px;
} */

.contact-form form p{
    margin: 0;
    padding: 1em;
}

/* .contact-form form{
    
} */

.contact-form form .block{
   grid-column: 1/3; 
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: 0.7em;
    border: none;
    background-color: rgba(26, 26, 26, 0.4);
    outline: none;
    color: white;
    box-sizing: border-box;
}

.contact-form form input{
    height: 2em;
}


.contact-form form button{
    background: #2001FD;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus{
    background: #1300a1;
    transition: background-color 0.5s ease-out;
    outline: none;
}

.contact-info{
    background-color: rgba(26, 26, 26, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    min-width: 100px;
    height: 43px;
}

.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;

}

.contact-info ul{
    list-style: none;
    padding: 0px;
}

.contact-info ul li{
    padding: .3em;
}

iframe{
    width: 250px;
    height: 250px;
    margin: 0px auto;
}

@media (min-width: 700px){
    .div-contact{
        display: grid;
        grid-template-columns: 2fr 1fr ;
    }

    .div-contact > * {
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding: 1em;
    }

    .contact{
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em;
    }
    
    .contact-title{
        text-align: center;
        font-size: 3em;
    }
    
    .div-contact{
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
    }
    
    .div-contact > *{
        padding: 1em;
    }
    
    .contact-form{
        background-color: rgba(0, 0, 0, .5);
    }
    
    .contact-form form p{
        margin: 0;
        padding: 1em;
    }
    
    .contact-form form{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .contact-form form .block{
       grid-column: 1/3; 
    }
    
    .contact-form form button,
    .contact-form form input,
    .contact-form form textarea{
        width: 100%;
        padding: 0.7em;
        border: none;
        background: none;
        outline: none;
        border-bottom: 1px solid #d63031;
        color: #fff;
        box-sizing: border-box;
    }
    
    .contact-form form button{
        background: #b70e21;
        border: 0;
        text-transform: uppercase;
        padding: 1em;
    }
    
    .contact-form form button:hover,
    .contact-form form button:focus{
        background: #d63031;
        color: blue;
        transition: background-color 1s ease-out;
        outline: none;
    }
    
    .contact-info{
        background: yellowgreen;
        display: flex;
        flex-direction: column;
    }
    
    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        text-align: center;
        margin: 0 0 1rem 0;
    
    }
    
    .contact-info ul{
        list-style: none;
        padding: 0px;
    }
    
    .contact-info ul li{
        padding: .3em;
    }
    
    iframe{
        width: 250px;
        height: 250px;
        margin: 0px auto;
    }
}